services:
  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    # Esto asegura que las migraciones se ejecuten antes de iniciar
    command: >
      sh -c "python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"